<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SysCourseSigninRecordMapper">

    <select id="selectByUserId" parameterType="long" resultType="com.ruoyi.system.domain.SysCourseSigninRecord">
        SELECT * FROM sys_course_signin_record WHERE user_id = #{userId}
    </select>

    <update id="updateSigninStatus" parameterType="com.ruoyi.system.domain.SysCourseSigninRecord">
        UPDATE sys_course_signin_record
        SET status = #{status}, signin_time = #{signinTime}
        WHERE id = #{id} AND user_id = #{userId}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO sys_course_signin_record (signin_id, user_id, course_id, status)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.signinId}, #{item.userId}, #{item.courseId}, #{item.status})
        </foreach>
    </insert>

</mapper>
