<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SysDeptCourseMapper">

    <resultMap type="SysDeptCourse" id="SysDeptCourseResult">
        <id property="courseId" column="course_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="courseName" column="course_name"/>
        <result property="courseDesc" column="course_desc"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectDeptCourseById" resultMap="SysDeptCourseResult">
        select * from sys_dept_course where course_id = #{courseId}
    </select>

	<select id="selectDeptCourseList" parameterType="SysDeptCourse" resultMap="SysDeptCourseResult">
	    SELECT c.course_id,
	           c.dept_id,
	           d.dept_name,
	           c.course_name,
	           c.course_desc,
	           c.create_by,
	           c.create_time
	    FROM sys_dept_course c
	    LEFT JOIN sys_dept d ON c.dept_id = d.dept_id
	    <where>
	        <if test="deptId != null">
	            AND c.dept_id = #{deptId}
	        </if>
	        <if test="courseName != null and courseName != ''">
	            AND c.course_name like concat('%', #{courseName}, '%')
	        </if>
	    </where>
	</select>


    <insert id="insertDeptCourse" parameterType="SysDeptCourse" useGeneratedKeys="true" keyProperty="courseId">
        insert into sys_dept_course(dept_id, course_name, course_desc, create_by, create_time)
        values (#{deptId}, #{courseName}, #{courseDesc}, #{createBy}, now())
    </insert>

    <update id="updateDeptCourse" parameterType="SysDeptCourse">
        update sys_dept_course
        set dept_id=#{deptId},
            course_name=#{courseName},
            course_desc=#{courseDesc},
            update_by=#{updateBy},
            update_time=now()
        where course_id=#{courseId}
    </update>

    <delete id="deleteDeptCourseById">
        delete from sys_dept_course where course_id=#{courseId}
    </delete>

    <delete id="deleteDeptCourseByIds">
        delete from sys_dept_course where course_id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
